server {
  listen 80 default_server;
  listen [::]:80 default_server;

  server_name *.{{ server_name }};
  return 301 {{ (ssl_enabled) | ternary('https', 'http') }}://{{ server_name }}$request_uri;
}

server {

{% if (ssl_enabled) %}

  listen 443 ssl http2 default_server;
  listen [::]:443 ssl http2 default_server;

  ssl_certificate /etc/letsencrypt/live/{{ server_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ server_name }}/privkey.pem;

{% else %}

  listen 80 default_server;
  listen [::]:80 default_server;

{% endif %}

  charset utf-8;
  include h5bp/basic.conf;

  server_name {{ server_name }};
  root {{ web_root }};
  index index.php;

  access_log /var/log/nginx/{{ domain }}-access.log;
  error_log /var/log/nginx/{{ domain }}-error.log;

  location /favicon.ico { log_not_found off; access_log off;}
  location /robots.txt  { log_not_found off; access_log off;}

  #SSL Verification for letsencrypt
  location ~ /.well-known {
    allow all;
  }

  #Deny access to all hidden files
  location ~ /\. {
    deny all;
  }

  location ~*  \.(jpg|jpeg|png|gif|svg|ico|css|js)$ {
    expires 7d;
  }

  location / {
    try_files $uri $uri/ /index.php?$query_string;
  }

  location ~ \.php$ {
    include snippets/fastcgi-php.conf;
    fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
  }

}